default_layout "terminal"

theme "catppuccin-mocha"

show_startup_tips false

ui {
    pane_frames {
        rounded_corners true
    }
}

plugins {
    // Default plugins
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "~/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
    zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm" {
      // Catppuccin Mocha colors
      color_crust "#11111b"      // Crust
      color_mantle "#181825"     // Mantle
      color_base "#1e1e2e"       // Base
      color_surface0 "#313244"   // Surface0
      color_surface1 "#45475a"   // Surface1
      color_surface2 "#585b70"   // Surface2
      color_text "#cdd6f4"       // Text
      color_subtext0 "#a6adc8"   // Subtext0
      color_subtext1 "#bac2de"   // Subtext1
      color_overlay0 "#6c7086"   // Overlay0
      color_red "#f38ba8"        // Red
      color_maroon "#eba0ac"     // Maroon
      color_peach "#fab387"      // Peach
      color_yellow "#f9e2af"     // Yellow
      color_green "#a6e3a1"      // Green
      color_teal "#94e2d5"       // Teal
      color_sky "#89dceb"        // Sky
      color_sapphire "#74c7ec"   // Sapphire
      color_blue "#89b4fa"       // Blue
      color_lavender "#b4befe"   // Lavender
      color_mauve "#cba6f7"      // Mauve
      color_pink "#f5c2e7"       // Pink
      color_flamingo "#f2cdcd"   // Flamingo
      color_rosewater "#f5e0dc"  // Rosewater

      format_left   " {mode}#[bg=$base] {tabs}"
      format_center ""
      format_right  "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold] #[bg=$surface0,fg=$blue,bold] {session} #[bg=$base,fg=$surface0,bold] #[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]󰃭 {datetime}"
      format_space  ""
      format_hide_on_overlength "true"
      format_precedence "crl"

      border_enabled  "false"
      border_char     "─"
      border_format   "#[fg=$overlay0]{char}"
      border_position "bottom"

      mode_normal        "#[bg=$base,fg=$green]#[bg=$green,fg=$mantle,bold]NORMAL "
      mode_locked        "#[bg=$base,fg=$overlay0]#[bg=$overlay0,fg=$mantle,bold]LOCKED  "
      mode_resize        "#[bg=$base,fg=$red]#[bg=$red,fg=$mantle,bold]RESIZE "
      mode_pane          "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]PANE "
      mode_tab           "#[bg=$base,fg=$lavender]#[bg=$lavender,fg=$mantle,bold]TAB "
      mode_scroll        "#[bg=$base,fg=$yellow]#[bg=$yellow,fg=$mantle,bold]SCROLL "
      mode_enter_search  "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]ENT-SEARCH "
      mode_search        "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]SEARCHARCH "
      mode_rename_tab    "#[bg=$base,fg=$lavender]#[bg=$lavender,fg=$mantle,bold]RENAME-TAB "
      mode_rename_pane   "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]RENAME-PANE "
      mode_session       "#[bg=$base,fg=$sapphire]#[bg=$sapphire,fg=$mantle,bold]SESSION "
      mode_move          "#[bg=$base,fg=$pink]#[bg=$pink,fg=$mantle,bold]MOVE "
      mode_prompt        "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]PROMPT "
      mode_tmux          "#[bg=$base,fg=$peach]#[bg=$peach,fg=$mantle,bold]TMUX "

      // formatting for inactive tabs
      tab_normal              "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]{index} #[bg=$surface0,fg=$blue,bold] {name}{floating_indicator}"
      tab_normal_fullscreen   "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]{index} #[bg=$surface0,fg=$blue,bold] {name}{fullscreen_indicator}"
      tab_normal_sync         "#[bg=$base,fg=$blue]#[bg=$blue,fg=$mantle,bold]{index} #[bg=$surface0,fg=$blue,bold] {name}{sync_indicator}"

      // formatting for the current active tab
      tab_active              "#[bg=$base,fg=$peach]#[bg=$peach,fg=$mantle,bold]{index} #[bg=$surface0,fg=$peach,bold] {name}{floating_indicator} "
      tab_active_fullscreen   "#[bg=$base,fg=$peach]#[bg=$base,]#[bg=$peach,fg=$mantle,bold]{index} #[bg=$surface0,fg=$peach,bold] {name}{fullscreen_indicator} "
      tab_active_sync         "#[bg=$base,fg=$peach]#[bg=$peach,fg=$mantle,bold]{index} #[bg=$surface0,fg=$peach,bold] {name}{sync_indicator} "

      // separator between the tabs
      tab_separator           "#[bg=$base] "

      // indicators
      tab_sync_indicator       " "
      tab_fullscreen_indicator " 󰊓"
      tab_floating_indicator   " 󰹙"

      command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
      command_git_branch_format      "#[fg=$blue] {stdout} "
      command_git_branch_interval    "10"
      command_git_branch_rendermode  "static"

      datetime        "#[bg=$surface0,fg=$blue,bold] {format} "
      datetime_format "%a %b %-d %-I:%M %p"
      datetime_timezone "America/Los_Angeles"
    }
}
